# Игнорирование файлов окружения
.env

# Игнорирование директорий node_modules и logs
node_modules/
logs/

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование логов npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорирование кэш-директории проекта
.cache/

# Игнорирование выходных данных сборщика (например, dist/)
dist/
build/
